<ion-header>

  <ion-navbar>
	
    <ion-title >{{item.name}}</ion-title>
	
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <ion-item *ngIf="item.area">
	   <ion-label>
           Area
       </ion-label>
       <div item-content>
          {{item.area}}
       </div>
	</ion-item>
	<ion-item  *ngIf="item.gini">
	   <ion-label>
           Gini
       </ion-label>
       <div item-content>
          {{item.gini}}
       </div>
	</ion-item>
	<ion-item *ngIf="item.population">
	   <ion-label>
           Population
       </ion-label>
       <div item-content>
         {{item.population}}
       </div>
	</ion-item>
    <ion-item *ngIf="item.latlng">
	   <ion-label>
           Latlng
       </ion-label>
       <div item-content>
         {{item.latlng}}
       </div>
	</ion-item>		
  </ion-list>
  
</ion-content>
